html,
body {
  height: 100%;
  min-height: 100vh;
}

.m-hash-tag {
  max-width: 171px;
  display: inline-block;
  vertical-align: bottom;
}

.m-address-tag {
  max-width: 171px;
  display: inline-block;
  vertical-align: bottom;
}

.m-token-tag {
  max-width: 171px;
  display: inline-block;
  vertical-align: bottom;
}

.m-amount-tag {
  max-width: 171px;
  display: inline-block;
  vertical-align: bottom;
}

.m-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}