@import 'uikit/src/less/uikit.theme.less';
@import '~@/styles/vars.less';

html,
body {
  height: 100%;
  min-height: 100vh;
}

.m-hash-tag {
  max-width: 200px;
}

.m-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table {
  border: 1px solid @border;
}

.uk-tooltip {
  max-width: 500px !important;
}

.v-layout {
  min-height: 100%;
}

.v-icon-small {
  width: 17px;
  height: 17px;
}